/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	/* HERO
	================================================== */
	.hero {
		min-height: 600px;
	}

	.hero img {
		height: 500px;
	}

	/* SITEMAIN
	================================================== */
	/* Modal */
	.modal-header {
		height: 400px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	/* ... (otros estilos) ... */

	/* HERO
	================================================== */
	.hero h1 {
		font-size: 38px
	}

	.job-title {
		font-size: 20px;
	}

	.hero img {
		height: 420px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .hero .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-content {
        order: 2;
        margin-top: 20px;
    }

    .hero-image {
        order: 1;
    }

    .hero-image img {
        width: 80%;
        max-width: 300px;
        height: auto;
        border-radius: 10px;
        margin: 0 auto;
    }

	/* ... (otros estilos) ... */
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 479px) {
	/* ... (otros estilos) ... */
}
